*{
    padding: 0px;
    margin: 0px;
    
}
@font-face {
    font-family: 'merriweatherbold';
    src: url('../fonts/merriweather-bold-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweatherregular';
    src: url('../fonts/merriweather-regular-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'merriweatherregular';
    font-size: 16px;
    background: white;
}

.container {
  max-width: none !important;
  width: 1170px;
}


/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}


/* Non-responsive overrides
 *
 * Utilize the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
  width: 1170px;
  max-width: none !important;
}

/* Demonstrate the grids */
.col-xs-4 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  visibility: visible !important;
}

.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}

/* Undo form expansion */
.navbar-form {
  float: left;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Copy-pasted from forms.less since we mixin the .form-inline styles. */
.navbar-form .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.navbar-form .form-control-static {
  display: inline-block;
}

.navbar-form .input-group {
  display: inline-table;
  vertical-align: middle;
}

.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn,
.navbar-form .input-group .form-control {
  width: auto;
}

.navbar-form .input-group > .form-control {
  width: 100%;
}

.navbar-form .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .radio,
.navbar-form .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .radio label,
.navbar-form .checkbox label {
  padding-left: 0;
}

.navbar-form .radio input[type="radio"],
.navbar-form .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}

.navbar-form .has-feedback .form-control-feedback {
  top: 0;
}

/* Undo inline form compaction on small screens */
.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.form-inline .form-control-static {
  display: inline-block;
}

.form-inline .input-group {
  display: inline-table;
  vertical-align: middle;
}
.form-inline .input-group .input-group-addon,
.form-inline .input-group .input-group-btn,
.form-inline .input-group .form-control {
  width: auto;
}

.form-inline .input-group > .form-control {
  width: 100%;
}

.form-inline .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}

.form-inline .radio,
.form-inline .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .radio label,
.form-inline .checkbox label {
  padding-left: 0;
}

.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}

.form-inline .has-feedback .form-control-feedback {
  top: 0;
}











/* ===================================
        Header Section
================================== */
.header{
    width: 100%;
/*    border-bottom: 5px solid #040404;  */
}
.headerIn{
    width: 100%;
    padding: 0px 0px 0px 0px;
}
.headerInner{
    width: 100%;
}
.breackingNews{
   width: 100%;   
   overflow: hidden; 
}
.breackingNewsIn{
   width: 100%;
   padding: 10px 15px;
   overflow: hidden;
   background: #e20612;
}
.breackingNewsInner{
    width: 100%;
    overflow: hidden;
}
.breackingNewsInner h3{
    padding: 0px 25px 0px 0px;
    margin: 0px;
    float: left;
    text-align: left;
    line-height: 30px;
    font-family: 'merriweatherbold';
    font-size: 24px;
    text-transform: uppercase;
    color: #FFF;
    background: url(../images/breacking_bullet.png) no-repeat right center;
}
.breackingNewsInner p{
    padding: 0px 0px 0px 20px;
    margin: 0px;
    float: left;
    text-align: left;
    line-height: 30px;
    font-family: 'merriweatherbold';
    font-size: 24px;
    color: #FFF;
}
.logoTop{
    width: 100%;
    overflow: hidden;
    padding: 0px 0px 12px 0px;
}
.logo{
  width: 100%;
   overflow: hidden;
}
.logoIn{
  width: 100%;
   overflow: hidden;
}
.logoInner{
  width: 100%;
   overflow: hidden;
}
.logoInner h1{
    padding: 0px;
    margin: 0px;
}
.logoInner p{
    padding: 0px;
    margin: 0px;
    line-height: 15px;
    text-align: left;
    font-family: 'merriweatherregular';
    font-size: 12px;
    color: #000;
}
.headerRight{
   width: 100%;
   overflow: hidden;
}
.headerRightIn{
   width: 100%;
   overflow: hidden; 
}
.headerRightInner{
    width: 100%;
   overflow: hidden;
}
.headerRightInner img{
    float: right;
}
.headerRightInner p{
    padding: 0px 0px 0px 98px;
    margin: 0px;
    line-height: 15px;
    text-align: left;
    font-family: 'merriweatherregular';
    font-size: 12px;
    color: #000;
}

.header {
    width: 100%;
/*    border-bottom: 2px solid #040404;*/
    margin-bottom: 10px;
}
.header .menu-main .navbar { border: none}

  .menu-main .navbar {
    min-height: 0px;
}
.menu-main .navbar {
    margin-bottom: 10px;
    border: 0px solid transparent;
}

.menu-main ul {
    margin: 0px;
    padding: 0px 0px 0px 0px;
}
.menu-main .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

/* EXAMPLE 3

line height is 20px by default so add 30px top and bottom to equal the new .navbar-brand 80px height  */

.example3 .navbar {
 min-height: 34px;
}
.example3 .navbar-brand {
  height: 40px;
}

/*.example3 .nav >li >a {
  padding-top: 10px;
  padding-bottom: 10px;
}*/
.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}



.online-edition { 
    line-height: 34px;
    margin-left: 10px; text-decoration: none; color: #030303}
.navbar-left { width:1000px;}
.news-scroll{ width:840px; height:34px; line-height:34px;}

.news-scroll a{ margin-right:50px;     color: #030303;
    font-size: 13px;}
#navbar3 .navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
	line-height:34px; height:34px;
}

.pagination { margin: 2px 0;}
.pagination>li>a, .pagination>li>span {     padding: 4px 10px;}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 200px;
        text-align: left;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid2 .navbar-brand-centered {
        margin-left: -100px;
    }
}
.navbar-brand-centered a{ color:#777; text-decoration: none}
 
.container-fluid2 { background: #eee; border-bottom: solid 1px #ccc; border-top: solid 1px #ccc}



#navbar-brand-centered .navbar-nav>li>a{
    border: solid 1px #ccc;
    padding: 6px 5px 6px 15px;
    margin: 8px;
    border-radius: 3px;
    background: white;
    font-size: 14px;
}

.navbar-right .caret { margin-left: 13px;}
.pagination>li>a, .pagination>li>span{color:#030303}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #e7e7e7;
    border-color: #cccccc;
    color: #5e5e5e;}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}



#login-dp .form-control {
    
    width: 100%;
    height: 34px;
    padding: 6px 7px;
    font-size: 12px;
    
    border-radius: 2px;
    
}

#page-content{ position: relative; text-align: center; width: 1140px; margin: 0 auto; width: 1142px;  border: 1px solid #ccc;}

#page-content a.news-box {
    position: absolute;
    display: block;
}

#page-content a.news-box:hover {
    background-color: rgba(0,0,0,.3);
}


.pager {
    margin-top:5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 18px;
  list-style: none;
  text-align: center;
  *zoom: 1;
}
.pager:before,
.pager:after {
  display: table;
  content: "";
}
.pager:after {
  clear: both;
}
.pager li {
  display: inline;
}
.pager a {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.pager a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}
.pager .next a {
  float: right;
  color: #030303;
}
.pager .previous a {
  float: left;
  color: #030303;
}
.pager .disabled a,
.pager .disabled a:hover {
  color: #999999;
  background-color: #fff;
  cursor: default;
}






/* ====================================================
                Footer Section
==================================================== */
.footerMenu{
    width: 100%;    
    overflow: hidden;
}
.footerMenuIn{
    width: 100%;
    padding: 10px 0px;
    overflow: hidden;
    border-top: 5px solid #040404;
}
.footerMenuInner{
    width: 100%;
    overflow: hidden;
}
.footerMenuInner ul{
    margin: 0px;
    padding: 0px 0px 10px 0px;  
}
.footerMenuInner ul li{
    float: left;
    list-style: none;
    background: url(../images/mainmenu_bullet.jpg) no-repeat right center;
}
.footerMenuInner ul li:last-child{
    background: none;
}
.footerMenuInner ul li a {
    padding: 5px 15px;
    line-height: 24px;
    text-align: left;
    font-family: 'merriweatherbold';
    font-size: 18px;
    color: #000;
}
.footerMenuInner ul li:nth-child(1)>a{
    padding-left: 0px;
}
.footerBot{
    width: 100%;
    padding: 15px 0px;
    overflow: hidden;
    background: #262d35;
}
.footerBotIn{
    width: 100%;
    overflow: hidden;
}
.footerBotInner{
    width: 100%;
    overflow: hidden;
}
.footerLogo{
   width: 100%;
    overflow: hidden;
}
.footerLogoIn{
   width: 100%;
    overflow: hidden;
}
.footerLogoIn h1{
    margin: 0px;
    padding: 0px;
}
.footerLogoIn p{
    margin: 0px;
    padding: 10px 0px 0px 0px;
    line-height: 23px;
    text-align: left;
    font-family: 'merriweatherregular';
    font-size: 13px;
    color: #FFF;
}
.footerLogoIn p span{
    font-size: 14px;
    font-family: 'merriweatherbold';
}
.footerBotMenu{
    width: 100%;
    overflow: hidden;
    padding: 0px 0px 0px 60px;
    border-left: 2px solid #bbbcbd;
}
.footerBotMenuIn{
    width: 100%;    
    overflow: hidden;
}
.footerBotMenuInner{
    width: 100%;
    overflow: hidden;
}
.footerBotMenuInner ul{
    padding: 0px;
    margin: 0px;
}
.footerBotMenuInner ul li{
    width: 30%;
    float: left;
    padding: 0px 0px 10px 0px;
    list-style: none;
}
.footerBotMenuInner li a{
    line-height: 23px;
    text-align: left;
    font-family: 'merriweatherregular';
    font-size: 13px;
    color: #FFF;
}
.newsLetter{
    width: 100%;    
    overflow: hidden;
    padding: 65px 0px 0px 0px;
}
.newsletterIn{
   width: 100%;
   overflow: hidden; 
}
.newsletterInner{
  width: 100%;    
    overflow: hidden;  
}
.newsletterInner p{
    line-height: 23px;
    text-align: left;
    font-family: 'merriweatherregular';
    font-size: 12px;
    color: #FFF;
}
.newsletterInner .form-inline .form-group {
    display: inline;
}
.newsletterInner .inputNewsletter{
    width: 77%;
    float: left;
    padding: 2px 10px;
    line-height: 23px;
    height: 23px;
    text-align: left;
    font-family: 'merriweatherregular';
    font-size: 12px;
    color: #FFF;
    color: #262d35;
    border: none;
    border-radius: 0px;
    background: #FFF;
}
.newsletterInner .btnNewsLetter{
    padding: 2px 10px;
    text-align: center;
    line-height: 18px;
    font-family: 'merriweatherregular';
    font-size: 12px;
    color: #FFF;
    border: none;
    border-radius: 0px;
    background: #4b4f55;
}
.newsletterInner .btnNewsLetter:hover{
    background: #4b4f55;
}
.footerText{
    width: 100%;
    overflow: hidden;
    border-top:1px solid #bbbcbd;
    background: #e7e7e7;
}
.footerTextIn{
    width: 100%;
    overflow: hidden;
}
.footerTextInner{
    width: 100%;
    overflow: hidden;
}
.footerMid{
    width: 100%;
    overflow: hidden;
}
.footerMid p{
    padding: 15px;
    margin: 0px;
    line-height: 16px;
    text-align: center;
    font-family: 'merriweatherregular';
    font-size: 12px;
    color: #65686d;
}
 
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
    }
 
    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
    }
 
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        
    }
    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
       
                       
    }
    @media only screen and (max-width : 1024px) {
        .logo{
            padding: 0px 0px 10px 0px;
        }
        .headerRightInner img{
            float: left;
        }
        .headerRightInner p{
            padding: 0px 0px 0px 0px;
        }
        .mainMenuInner .navbar-nav>li {
            background: none;
        }
        .mainMenuInner .navbar-default .navbar-nav>li:nth-child(1)>a {
            padding-left: 15px;
        }
        
        
        
        
        .footerLogo{
            padding: 0px 0px 20px 0px;
        }
        .footerBotMenu {
            padding: 0px 0px 0px 20px;
        }
        .footerBotMenuInner ul li {
            width: 50%;
        }
		.homeSlideNewsIn ul li{
			margin:	0px 13px 0px 0px;
		}
		.search-form .form-group input.form-control {
		  padding-right: 30px;
		  text-align:right;
		}

    }
 
    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        
     }
 
    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
     }
     
     
     
     
     
     
     @media (min-width: 768px){
.modal-dialog {
    width: 100%;
    margin: 30px auto;
}
     
     
    } 
     
     
     
     
     
     
     
     
     #navbar3 .center-block { padding-right: 15px;}
     
     .social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }