#cboxOverlay {
    background: #000
}

.logoTop .img-responsive {
    margin: 0 auto;
}

.example3 .navbar {
    margin-bottom: 10px;
}

.container-fluid2 .navbar-brand {
    padding: 5px 5px;
}

.navbar-brand-centered p {
    font-size: 12px;
    text-align: right;
}

.container {
    padding-right: 0;
    padding-left: 0;
}

.datepicker {
    width: 260px;
    margin: 0 auto;
    border-radius: 0px;
}


h2.archive {
    background: #4CAF50;
    color: #fff;
    margin: 0;
    padding: 5px 10px;
    font-size: 18px;
}

/* @font-face (omit by ns){
    font-family: SolaimanLipi;
    src: local('SolaimanLipi'),
        url('../fonts/solaimanlipi.woff') format('woff'),
        url('../fonts/solaimanlipi.woff2') format('woff2');
} */

body {
    margin: 0;
    padding: 0;
    font-family: SolaimanLipi;
}

img {
    border: 0;
    max-width: 100%;
}

ul li {
    list-style: none;
}

.wrapper {
    width: 1265px;
    margin: 0 auto;
    overflow: hidden;
}

/*  Header */
.header {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.headerTopNav {
    background: #017AC3;
    text-align: right;
    padding: 0;
    height: 32px;
}

.headerTopNav .online-vershion {
    float: left;
    text-align: left;
    width: 15%;
}

.headerTopNav .online-date {
    float: left;
    line-height: 30px;
    color: #ffffff;
    width: 40%;
    text-align: center;
}

.headerTopNav .online-weather img {
    vertical-align: middle;
}

.headerTopNav .online-weather {
    float: left;
    line-height: 24px;
    color: #ffffff;
    width: 20%;
    text-align: center;
}

.headerTopNav .online-vershion a {
    padding-left: 10px;
    font-size: 16px;
}

.social-icons {
    float: right;
    height: 32px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 10px
}

.social-icons a:hover {
    color: #ffffff;
}

.social-icons .facebook:hover {
    /* background: #3b5998;*/
    color: #3b5998;
    ;
}

.social-icons .twitter:hover {
    /*  background: #1ebef0;*/
    color: #1ebef0;

}

.social-icons .google-plus:hover {
    /* background: #dc4a38;*/
    color: #dc4a38;
}

.social-icons .youtube:hover {
    /*  background:#C52F30;*/
    color: #C52F30;
}

.social-icons .linkedin:hover {
    /* background:#025DAC;*/
    color: #025DAC;
}

ul.social {
    margin-top: 2px;
}

ul.social li {
    padding-right: 10px;
}

ul.social li:last-child {
    padding-right: 0px;
}

ul.social li a {
    border-radius: 20px;
    background: #ffffff;
    height: 28px;
    width: 28px;
    display: inline-block;
    color: #939393;
    text-align: center;
}


.headerTopNav ul {
    display: inline-flex
}

.headerTopNav li {
    display: inline;
    margin-right: 5px
}

.headerTopNav a {
    font-size: 80%;
    color: #fff;
    text-decoration: none;
    line-height: 30px
}

.headerTopNav a:hover {
    text-decoration: none
}

.mi_32x32 {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../images/social.png);
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: transparent;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    text-indent: -999px;
    width: 32px;
}

.mi_32x32_tw {
    background-position: 0 -64px;
}

.mi_32x32_gp {
    background-position: 0 -128px;
}



.archive {
    margin-top: 10px;
    border: 1px solid #337ab7;
    text-align: left
}

.archive_field {
    padding-right: 1px
}

.archive_select {
    width: 95px;
    font-size: 8.5pt;
    color: #333;
    font-family: Arial;
    text-decoration: none;
    line-height: 14pt;
    height: 22px;
    border: 1px solid #337ab7;
}

.archive_select.date {
    width: 45px
}

.archive_select.year {
    width: 55px
}

.archive_go {
    font-size: 9.5pt;
    color: #fff;
    font-family: Arial;
    text-decoration: none;
    line-height: 14pt;
    width: 34px;
    background: #337ab7;
    border: 1px solid #a4a4a4
}

select#armonth {
    width: 85px
}

select#aryear {
    width: 55px
}

.purono-sonkha-img {
    float: left;
    margin-right: 7px
}

.bottomBanner {
    padding: 5px 0;
    margin: 0 10px 20px;
    background: #f1f1f1;
    text-align: center
}

.headerTopAdd {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px 0
}

.headerTopAdd .logo {
    float: left;
    padding-left: 10px;
    padding-top: 20px;
}

.headerTopAdd .ad {
    float: right
}

.headerMain {
    background: #f2f4f7;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc
}




/* main content */


.left_side {
    width: 899px;
    float: left;
    margin: 25px 30px 25px 0;
}

.indivisual-page {
    overflow: hidden;
}

.indivisual-page .pagination {
    float: left;
    margin-right: 20px
}

.pagination ul {
    display: inline-block;
    padding: 0;
    margin: 8px 0;

}

.pagination ul li {
    display: inline-block;
}

.pagination ul li a,
.pagination ul li span {
    color: black;
    float: left;
    padding: 5px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 16px;
}

.pagination ul li a:hover {
    background-color: #ddd;
}

.pagination ul li.active {
    background-color: #4CAF50;
}

.pagination ul li.active span {
    color: #ffffff;
}

.indivisual-page .select-page {
    float: left;
    margin-top: 8px;
}

.indivisual-page .select-page select {
    padding: 5px 8px 5px 8px;
    font-size: 16px;
    width: 200px;
    font-family: SolaimanLipi;
}

.main_content {
    text-align: justify;
}

#page-content {
    position: relative;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #ccc;
}

#page-content a.news-box {
    position: absolute;
    display: block;
}

#page-content a.news-box:hover {
    background-color: rgba(0, 0, 0, .3);
}

.navigation ul {
    width: 100%;
}

.navigation .last {
    float: right;
}

.right_side {
    float: right;
    width: 336px;
    margin-top: 25px;
}

.all_pages h2 {
    background: #4CAF50;
    color: #fff;
    margin-top: 23px;
    padding: 5px 10px;
    font-size: 18px;
    margin-bottom: 5px;
}

.all_pages ul {
    padding-left: 0;
    padding-right: 10px;
    height: 400px;
    overflow-y: scroll;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;

}

.all_pages ul li {
    height: 200px;
    overflow-y: hidden;
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
    position: relative
}


.all_pages ul li span {
    position: absolute;
    bottom: 2px;
    right: 2px;
    background: red;
    width: 30px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
    color: #fff;
}

.right_side .advertise {
    margin: 0 auto;
}

/* Footer  */
.footerText {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #bbbcbd;
    background: #e7e7e7;
    text-align: center;
}

#colorbox,
#cboxOverlay,
#cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

#cboxWrapper {
    max-width: none;
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
}

#cboxMiddleLeft,
#cboxBottomLeft {
    clear: left;
}

#cboxContent {
    position: relative;
}

#cboxLoadedContent {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#cboxTitle {
    margin: 0;
}

#cboxLoadingOverlay,
#cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
    cursor: pointer;
}

.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block;
    max-width: none;
    -ms-interpolation-mode: bicubic;
}

.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
}

#colorbox,
#cboxContent,
#cboxLoadedContent {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

/*

#cboxOverlay {
    background: #fff;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#colorbox {
    outline: 0;
}

#cboxContent {
    margin-top: 32px;
    overflow: visible;
    background: #000;
}

.cboxIframe {
    background: #fff;
}

#cboxError {
    padding: 50px;
    border: 1px solid #ccc;
}

#cboxLoadedContent {
    background: #fff;
    padding: 1px;
}

#cboxLoadingGraphic {
    background: url(../images/loading.gif) no-repeat center center;
}

#cboxLoadingOverlay {
    background: #000;
}

#cboxTitle {
    position: absolute;
    top: -22px;
    left: 0;
    color: #000;
}

#cboxCurrent {
    position: absolute;
    top: -22px;
    right: 205px;
    text-indent: -9999px;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    text-indent: -9999px;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    background: url(../images/controls.png) no-repeat 0 0;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
    outline: 0;
}

#cboxPrevious {
    background-position: 0px 0px;
    right: 44px;
}

#cboxPrevious:hover {
    background-position: 0px -25px;
}

#cboxNext {
    background-position: -25px 0px;
    right: 22px;
}

#cboxNext:hover {
    background-position: -25px -25px;
}

#cboxClose {
    background-position: -25px 0px;
    right: 30px;
}

#cboxClose:hover {
    background-position: -25px -25px;
}

.cboxSlideshow_on #cboxPrevious,
.cboxSlideshow_off #cboxPrevious {
    right: 66px;
}

.cboxSlideshow_on #cboxSlideshow {
    background-position: -75px -25px;
    right: 44px;
}

.cboxSlideshow_on #cboxSlideshow:hover {
    background-position: -100px -25px;
}

.cboxSlideshow_off #cboxSlideshow {
    background-position: -100px 0px;
    right: 44px;
}

.cboxSlideshow_off #cboxSlideshow:hover {
    background-position: -75px -25px;
}